@charset "UTF-8";

body {
  background-color: rgba(255, 255, 255, 0.823);
  margin: 0px;
}

header {
  height: 250px;
  width: 1900px;
  background-color: rgb(34, 104, 255);
  border-radius: 5px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.208);
}

header h1 {
  text-align: center;
  margin: 0px;
  padding: 10px;
  color: white;
}

header p {
  text-align: center;
  margin: 0px;
  padding-bottom: 50px;
  font-size: 14pt;
  color: white;
}

header nav {
  margin: 0px;
  padding: 0px;
  font-size: 14pt;
}

header nav a {
  text-decoration: none;
  color: rgb(233, 242, 255);
  font-weight: bold;
  margin: 5px;
  padding: 0px;
}

header nav a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(74, 122, 255);
  border-radius: 5px;
  padding: 7px;
}

main {
  margin: 22px;
  padding: 3px;
  text-align: center;
}

div.quadrado {
  height: 159px;
  width: 300px;
  display: inline-block;
  border: 0px solid black;
  border-radius: 20px;
  box-shadow: 10px 10px 28px rgba(0, 0, 0, 0.431);
  padding: 15px;
  margin: 20px;
}

  

main div.quadrado#clientes h2 {
  text-align: justify;
  color: rgba(255, 0, 170, 0.532);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17pt;
}

main div.quadrado#clientes p {
  text-align: center;
  color: rgba(108, 255, 97, 0.886);
  font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
  font-size: 27pt;
  font-weight: bolder;
}

div.quadrado#vendas {
  margin-left: 50px;
  height: 159px;
  width: 300px;
  border: 0px solid black;
  border-radius: 20px;
  box-shadow: 10px 10px 28px rgba(0, 0, 0, 0.431);
  padding: 15px;
  margin: 20px;
}

main div.quadrado#vendas h1 {
  text-align: justify;
  color: rgba(9, 255, 0, 0.675);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17pt;
}

main div.quadrado#vendas p {
  text-align: center;
  color: rgba(255, 166, 0, 0.614);
  font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
  font-size: 27pt;
  font-weight: bolder;
}

main div.quadrado#produtos h1 {
  text-align: justify;
  color: rgba(255, 50, 50, 0.795);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
}

main div.quadrado#produtos p {
  text-align: center;
  color: rgba(0, 26, 255, 0.454);
  font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
  font-size: 27pt;
  font-weight: bolder;
}

main div.quadrado#estoque h1 {
  text-align: justify;
  color: rgba(255, 128, 0, 0.795);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
}

main div.quadrado#estoque p {
  text-align: center;
  color: rgba(53, 211, 184, 0.702);
  font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
  font-size: 27pt;
  font-weight: bolder;
}
 main div.retangolo {
  height: 1090px;
  width: 1000px;
  border: 0px solid black;
  border-radius: 20px;
  box-shadow: 10px 10px 28px rgba(0, 0, 0, 0.431);
  padding: 15px;
  margin: auto;
}

main div.retangolo h1 {
  text-align: center;
  color: rgba(0, 26, 255, 0.454);
  font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
  font-size: 23pt;
  font-weight: bold;
}

main div.retangolo p {
  text-align: left;
  color: rgba(72, 255, 0, 0.454);
  font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
  font-size: 23pt;
  font-weight: bold;
}

main div.retangolo p.jan {
  color: rgba(255, 166, 0, 0.458);
  padding-bottom: 10px;
}

main div.retangolo p.fev {
  color: rgba(179, 255, 0, 0.567);
  padding-bottom: 10px;
}

main div.retangolo p.mar {
  color: rgba(255, 33, 33, 0.411);
  padding-bottom: 10px;
}

main div.retangolo p.abr {
  color: rgba(0, 26, 255, 0.454);
  padding-bottom: 10px;
}

main div.retangolo p.mai {
  color: rgba(255, 0, 238, 0.535);
  padding-bottom: 10px;
}

main div.retangolo p.jun {
  color: rgba(62, 168, 9, 0.454);
  padding-bottom: 10px;
}

main div.retangolo p.jul {
  color: rgba(255, 0, 234, 0.657);
  padding-bottom: 10px;
}

main div.retangolo p.ago {
  color: rgba(255, 242, 0, 0.454);
  padding-bottom: 10px;
}

main div.retangolo p.set {
  color: rgba(255, 0, 0, 0.702);
  padding-bottom: 10px;
}

main div.retangolo p.out {
  color: rgba(0, 251, 255, 0.652);
  padding-bottom: 10px;
}

main div.retangolo p.nov {
  color: rgba(85, 255, 0, 0.893);
  padding-bottom: 10px;
}

main div.retangolo p.dez {
  color: rgba(242, 255, 0, 0.421);
  padding-bottom: 10px;
}

main div.retangolo p.total {
  color: rgba(255, 140, 0, 0.837);
  padding-bottom: 10px;
  font-size: 14pt;
  text-align: center;
}

main div.retangolo p.total p {
  color: rgba(255, 140, 0, 0.837);
  padding-bottom: 10px;
  font-size: 14pt;
  
}